<div class="tool-wrapper clearfix" data-role="tool-wrapper">
  <div class="center-content">
    <div class="left swindle-info">
      <span class="icon-exclamation-sign"></span>
      <a href="#" target="_blank">
        关于防诈骗的重要提醒
      </a>
      <p><i class="icon-camera-retro icon-large"></i> icon-camera-retro</p>
    </div>
    <div class="left yoho-cert-tip"></div>
    <div class="yoho-buy-tools right">
      <ul>
        <li id="">
          <span class="hi">Hi~</span>
          [ <a [routerLink]="['/login']" class="loginbar" rel="nofollow">请登录</a> ]
          [ <a [routerLink]="['/register']" class="registbar" rel="nofollow">免费注册</a> ]
        </li>
        <li class="myyoho" id="myYohoBox">
          <span class="tag-seprate"></span>
          <a href="//www.yohobuy.com/home?t=1453340799.4986" rel="nofollow">MY有货</a>
          <span class="icon-bottomarrow"></span>
          <div class="simple-user-center"></div>
        </li>
        <li class="myorder">
          <span class="tag-seprate"></span>
          <span class="icon-papers"></span>
          <a href="//www.yohobuy.com/home/orders?t=1453168898.0176" rel="nofollow">我的订单</a>
        </li>
        <li class="mycollect">
          <span class="tag-seprate"></span>
          <span class="icon-heart"></span>
          <a href="//www.yohobuy.com/home/favorite?t=1453168898.0176" rel="nofollow">我的收藏</a>
        </li>
        <li class="message">
          <span class="tag-seprate"></span>
          <span class="icon-mail"></span>
          <a href="//www.yohobuy.com/home/message?t=1453168898.0176" rel="nofollow">消息</a>
        </li>
        <li class="help nav-drop-down-container">
          <span class="tag-seprate"></span>
          <span class="iconfont"></span>
          <a href="#">客户服务</a>
        </li>
        <li class="we-chat download-code">
          <span class="tag-seprate"></span>
          <span class="iconfont"></span>
          <a href="">关注有货</a>

        </li>
        <li class="phoneapp download-code" id="phoneApp">
          <span class="tag-seprate"></span>
          <span class="icon-phone"></span>
          <a href="//www.yohobuy.com/download/app">手机版</a>
        </li>
      </ul>
    </div>
  </div>
</div>
