<div class="simple-header">
  <div class="header-inner clearfix">
    <h2 class="logo">
      <a href="//www.yohobuy.com">
        <img src="//static.yohobuy.com/newheader/img/logo_e.png?imageView2/2/interlace/1/q/75" alt="">
      </a>
    </h2>
    <ul class="header-tool clearfix">
      <li><span>Hi~</span>&nbsp;<a [routerLink]="['/login']" >[请登录]</a>&nbsp;<a [routerLink]="['/register']">[免费注册]</a></li>
      <li class="tool-options">
        <span><a href="//www.yohobuy.com/home?t=1508808614255">MY有货</a></span>
      </li>
      <li>
        <a href="//www.yohobuy.com/home/orders?t=1508808614255">订单中心</a>
      </li>
      <li class="tool-options tool-options-large">
        <span><a href="//www.yohobuy.com/home?t=1508808614255">客户服务</a></span>
      </li>
    </ul>
  </div>
</div>
